<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nazca, está conformada por un grupo multidisciplinario de profesionales entre los cuales se destacan oceanógrafos, topógrafos, geomensores, hidrógrafos y biólogos marinos.">
    <meta name="keywords" content="nazca, fía, hidrografía, topografía, estudios ambientales, océano, mar, estudios actuáticos, puerto montt, chile">
    <link rel="icon" type="image/png" href="static/img/favicon.jpg">
    <title>Nazca SpA</title>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    {% block serialization%}{% endblock%}
</head>
<body>
    {% include 'generic/navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'generic/footer.html' %}
</body>
</html>