{% extends "base.html" %}
{% load web_extras %}

{% block css %}
<link rel="stylesheet" href="{% version 'css/carousel.css' %}">
<link rel="stylesheet" href="{% version 'css/home-page.css' %}">
{% endblock %}

{% block js %}
<script defer src="{% version 'js/bannercarousel.bundle.js' %}"></script>
<script defer src="{% version 'js/homebottomcarousel.bundle.js' %}"></script>
<script defer src="{% version 'js/servicesgallery.bundle.js' %}"></script>
<script defer src="{% version 'js/teamgallery.bundle.js' %}"></script>
<script defer src="{% version 'js/interestform.bundle.js' %}"></script>
<script defer src="{% version 'js/gallery.bundle.js' %}"></script>
<script src="{% version 'js/all.js' %}"></script>
{% endblock %}

{% block content %}
<section id="home">
    <div class="home-banner">
        <div class="logo"><img src="static/img/logo.png" alt="nazcaspa.com" /></div>

        <div class="background-video">
            <div class="shadow">
                <div class="center-text__container">
                    <!-- <div class="special-blue-text">TEXTO A RESALTAR</div> -->
                    <div id="banner-carousel"></div>
                    {# <div class="special-blue-text">Nazca SpA</div> #}
                </div>
            </div>
            <video id="banner-video" src="static/video/video.mp4" autoplay muted loop></video>
        </div>
    </div>

    <div class="grid-album-information">
        <div class="grid-1g-2x2">
            <div class="grid-item-x1" style="background-color: #333; min-height: 300px;">
                <img style="width: 100%" src="{% version 'img/serve1.jpeg' %}"/>
            </div>
            <div class="grid-item-x2 box-light-blue-bg center-flex-box">
                <div class="box-info">
                    <div class="box-info__title">Personal calificado y especializado</div>
                    <div class="box-info__description">Cabal conocimiento y manejo del instrumental necesario para el levantamiento de la información, procesamiento y análisis de datos colectados en cada área de proyectos.​​</div>
                </div>
            </div>
            <div class="grid-item-x3 box-blue-bg center-flex-box">
                <div class="box-info">
                    <div class="box-info__title">Permanente actualización técnica e instrumental</div>
                    <div class="box-info__description">Especialización en los estudios oceanográficos, hidrográficos y medio ambientales a partir de los requerimientos específicos de las Normativas vigentes.​</div>
                </div>
            </div>
            <div class="grid-item-x4 box-blue-bg center-flex-box">
                <div class="box-info">
                    <div class="box-info__title">Postventa permanente</div>
                    <div class="box-info__description">Reproceso de información si la autoridad evaluadora lo requiere. Además de capacitación general al cliente para la correcta interpretación y manejo de la información técnica generada.</div>
                </div>
            </div>
            <div class="grid-item-x5 box-light-blue-bg center-flex-box">
                <div class="box-info">
                    <div class="box-info__title">Plataforma digital privada</div>
                    <div class="box-info__description">Donde el cliente podrá encontrar y disponer de toda la información que involucra su proyecto (bases de datos crudas, información procesada e informes técnicos).</div>
                </div>
            </div>
        </div>
    </div>

    <div id="about-us" class="our-team">
        <div class="our-team__container">
            <div class="information">
                <div class="information__title">NUESTRO EQUIPO NAZCA SPA</div>
                <div class="information__description">Nazca SpA. es una empresa local, con base en Puerto Montt y sedes en Viña del Mar y Punta Arenas, fundada por el Oceanógrafo Jorge Álvarez Cortés, en el año 2013, con el propósito de entregar asesoría integral en servicios oceanográficos, hidrográficos y medio ambientales.​​</div>
                <div class="information__description">El compromiso de Nazca SpA. es poder brindar al cliente una asesoría integral orientada a cumplir satisfactoriamente los alcances de su proyecto. Nuestra asesoría asume una total entrega de todos nuestros profesionales en virtud de respetar los plazos y objetivos indicados por el cliente. Como Nazca SpA. estamos capacitados para satisfacer las necesidades y requerimientos específicos en proyectos asociados al medio marino, así como también en aguas continentales, siempre con el fin de brindar toda nuestra experiencia mediante una asesoría personalizada, que dé respuesta al alcance de estos. Para esto, nuestra línea de trabajo se respalda en estrictos estándares y protocolos internos..​</div>
                <div class="information__description">Nuestros levantamientos de información en terreno, estudios e informes técnicos cumplen con los requerimientos y protocolos de las Autoridades y Normativas vigentes.</div>
            </div>
            <div class="our-team__img__container">
                <img src="static/img/team/Jorge_Alvarez_Priscilla_Morales.jpeg" alt="nazca team"/>
                <img src="static/img/team/team.jpg" alt="nazca team"/>
            </div>
        </div>
        <!-- <div class="our-team__button__container">
            <button class="nazca-button">Acerca de</button>
        </div> -->
        <br />
    </div>

    <div id="services-gallery" class="services"></div>
    <div id="team-gallery"></div>
</section>

<div id="services" class="full-dual-section-desktop">
    <div class="full-dual-section-desktop__img__container">
        <img src="static/img/g4.jpg" />
    </div>

    <div id="gallery" class="galery-information"></div>
</div>

<div id="clients" class="clients">
    <div class="clients__content">
        <div class="section-title">PORTAL CLIENTES</div>
        <div class="clien-section__container">
            <div id="home-bottom-carousel"></div>
        </div>
    </div>
</div>

<div id="contact" class="contact">
    <div class="section-title">CONTACTO</div>
    <div class="contact__container">
        <div class="grid-2">
            <div id="interest-form"></div>
            <div>
                <iframe src="https://maps.google.com/maps?q=-41.4587349,-72.9038602&hl=es&z=10&data=!4m5!3m4!1s0x96183be2e9185f55:0xcb58171ead9ee14e!8m2!3d-41.4587593!4d-72.9037247&amp;output=embed" class="map" style="border:0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
