<div id="about-us" class="our-team">
    <div class="our-team__container">
        <div class="information">
            <div class="information__title">NUESTRO EQUIPO NAZCA SPA</div>
            <div class="information__description">Nazca SpA. es una empresa local, con base en Puerto Montt y sedes en Viña del Mar y Punta Arenas, fundada por el Oceanógrafo Jorge Álvarez Cortés, en el año 2013, con el propósito de entregar asesoría integral en servicios oceanográficos, hidrográficos y medio ambientales.​​</div>
            <div class="information__description">El compromiso de Nazca SpA. es poder brindar al cliente una asesoría integral orientada a cumplir satisfactoriamente los alcances de su proyecto. Nuestra asesoría asume una total entrega de todos nuestros profesionales en virtud de respetar los plazos y objetivos indicados por el cliente. Como Nazca SpA. estamos capacitados para satisfacer las necesidades y requerimientos específicos en proyectos asociados al medio marino, así como también en aguas continentales, siempre con el fin de brindar toda nuestra experiencia mediante una asesoría personalizada, que dé respuesta al alcance de estos. Para esto, nuestra línea de trabajo se respalda en estrictos estándares y protocolos internos..​</div>
            <div class="information__description">Nuestros levantamientos de información en terreno, estudios e informes técnicos cumplen con los requerimientos y protocolos de las Autoridades y Normativas vigentes.</div>
        </div>
        <div class="our-team__img__container">
            <img src="static/img/team/Jorge_Alvarez_Priscilla_Morales.jpeg" alt="nazca team"/> 
            <img src="static/img/team/team.jpeg" alt="nazca team"/>
        </div>
    </div>
    <br />
</div>