{% load web_extras %}

<div class="grid-album-information">
    <div class="grid-1g-2x2">
        <div class="grid-item-x1" style="background-color: #333; min-height: 300px;">
            <img style="width: 100%" src="{% version 'img/serve1.jpeg' %}"/>
        </div>
        <div class="grid-item-x2 box-light-blue-bg center-flex-box">
            <div class="box-info">
                <div class="box-info__title">Personal calificado y especializado</div>
                <div class="box-info__description">Cabal conocimiento y manejo del instrumental necesario para el levantamiento de la información, procesamiento y análisis de datos colectados en cada área de proyectos.​​</div>
            </div>
        </div>
        <div class="grid-item-x3 box-blue-bg center-flex-box">
            <div class="box-info">
                <div class="box-info__title">Permanente actualización técnica e instrumental</div>
                <div class="box-info__description">Especialización en los estudios oceanográficos, hidrográficos y medio ambientales a partir de los requerimientos específicos de las Normativas vigentes.​</div>
            </div>
        </div>
        <div class="grid-item-x4 box-blue-bg center-flex-box">
            <div class="box-info">
                <div class="box-info__title">Postventa permanente</div>
                <div class="box-info__description">Reproceso de información si la autoridad evaluadora lo requiere. Además de capacitación general al cliente para la correcta interpretación y manejo de la información técnica generada.</div>
            </div>
        </div>
        <div class="grid-item-x5 box-light-blue-bg center-flex-box">
            <div class="box-info">
                <div class="box-info__title">Plataforma digital privada</div>
                <div class="box-info__description">Donde el cliente podrá encontrar y disponer de toda la información que involucra su proyecto (bases de datos crudas, información procesada e informes técnicos).</div>
            </div>
        </div>
    </div>
</div>