.carousel
    .text-section
        text-transform uppercase
        min-width 320px
        font-size 1em
        color white
        font-weight bold
        font-family 'Montserrat', sans-serif

    .slide
        background-color transparent


@media screen and (min-width 1024px)
    .carousel
        .text-section
            font-size 2em