.home-banner
    max-width 100vw
    overflow hidden

    .logo
        width 150px
        position absolute
        top 1em
        left 1em
        z-index 1

        img
            width 100%


    .background-video
        width 100vw
        position relative

        .shadow 
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-color rgba(0, 0, 0, .6)
            display flex
            justify-content center
            align-items center

            .center-text__container
                max-width 100vw
                text-align center

            .special-blue-text
                font-size .5em
                text-transform uppercase
                letter-spacing 18px
                font-family 'Open Sans', sans-serif
                font-weight 600
                color #1F69AF

            .carousel
                .text-section
                    text-transform uppercase
                    min-width 320px
                    font-size 1em
                    color white
                    font-weight bold
                    font-family 'Montserrat', sans-serif

                .slide
                    background-color transparent

        video 
            width 100%
            height auto