.home-banner
    max-width 100vw
    overflow hidden

    .logo
        width 150px
        max-width 450px
        position absolute
        top 1em
        left 1em
        z-index 1

        img
            width 100%


@media screen and (min-width 1024px)
    .home-banner
        .logo
            height 145px
            width 450px
