{% load web_extras %}

<footer>
    <div class="footer__content">
        <div class="grid-3 gap-2">
            <div>
                <h5>Nazca SpA</h5>
                <p>NAZCA SpA., cuenta con profesionales de larga y probada experiencia 
                    en el ámbito de estudios Oceanográficos, Hidrográficos y Ambientales, 
                    los que además del trabajo de gabinete, participan activamente en la mantención 
                    y preparación del instrumental y de los trabajos de campo para la colecta de información</p>
            </div>
            <div>
                <h5>GALERÍA</h5>
                <div class="grid-3 gap-2">
                    <div><img src="{% version '/img/services/oceanografia.jpg' %}"/></div>
                    <div><img src="{% version '/img/services/hidrografia.jpg' %}"/></div>
                    <div><img src="{% version '/img/services/robotica.jpg' %}"/></div>
                </div>
            </div>
            <div>
                <h5>ADDRESS</h5>
                <div>
                    <div class="address-block">
                        <div class="address-block__icon"><i class="fas fa-phone-alt"></i></div>
                        <div>
                            <div class="address-block__title">Número de Contacto</div>
                            <div class="address-block__description">+56 65 2715568</div>
                        </div>
                    </div>
                    <div class="address-block">
                        <div class="address-block__icon"><i class="fas fa-phone-alt"></i></div>
                        <div>
                            <div class="address-block__title">Número de Contacto</div>
                            <div class="address-block__description">+56 9 7763 1606</div>
                        </div>
                    </div>
                    <div class="address-block">
                        <div class="address-block__icon"><i class="fas fa-envelope"></i></div>
                        <div>
                            <div class="address-block__title">Correo electrónico</div>
                            <div class="address-block__description">contacto@nazcaspa.cl</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="bottom-bar">© 2021 Nazca SpA. Todos los derechos reservados.<div>
</footer>