.card-list-client
    .card
        margin-bottom 3em

        &:hover
            cursor pointer

            .card-client-img
                border-color white
                transition all .2s ease-in-out

            img
                width 105%
                transition all .2s ease-in-out

        position relative
        // background-color #392f2f
        height 320px
        text-align center

        &__content  
            display flex
            justify-content center 
            align-items center

        .sticky
            // position absolute
            width 80%
            margin 1em auto 0
            // left 0
            // bottom 0
            padding 1em
            text-align center
            color white
            background-color rgba(0, 0, 0, .7)
            font-size 1em
            font-weight bold
            text-transform uppercase
            font-family 'Montserrat', sans-serif
            border-radius 5px
            border 1px solid white

        &-client-img
            background-color white
            height 250px
            width 250px
            padding 2em
            border-radius 50%
            overflow hidden
            display flex
            align-items center 
            justify-content center
            border 2px solid transparent

            img 
                width 100%
